*{
  padding: 0;
  margin: 0;
}

body {
  background-color: #02000F;

}

a{
  text-decoration: none;
}



header{
  padding: 0 10em;
  background: black;
  box-shadow: 0px 3px #ababab;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logos{
  display: flex;
  align-items: center;
}

header nav .logos .logo-site{
  padding-right: 15px;
}

header nav .pesquisa{
  background-color: white;
  align-items: center;
  border-radius: 40px;
  margin-left: 15px;
}

header nav .pesquisa form{
  display: flex;
  align-items: center;
  border-radius: 40px;
}



header nav .pesquisa form #pesq_input:focus{
  outline: 0;
  width: 11em;
  
}

header nav .pesquisa:hover #pesq_input{
  width: 11em;
  transition-duration: 0.3s; 
  transition-timing-function: ease;
  animation-iteration-count: infinite;
  
}

header nav .pesquisa:not(:hover) #pesq_input{
  width: 2px;
  transition-duration: 0.3s; 
  transition-timing-function: ease;
  animation-iteration-count: infinite;

}
header nav .pesquisa form #pesq_input{
  border: none;
  background: none;
  width: 1px;
  color: black;
  transform-origin: left;
  
  
}

header nav .pesquisa form input[type=image]{
  padding: 10px;
}


header nav{
  display: flex;
  align-items: center;
}

header nav ol{
  color: white;
  display: flex;
  list-style: none;
  align-items: center;
}

header nav ol li{
  color: #FFF;
  font-family: IM FELL French Canon SC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1.2em;
}

header nav ol li a{
  color: #FFF;
  font-family: IM FELL French Canon SC;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav ol li .vetor-seta{
  width: 12px;
  height: 10px;
}

/* DESTAQUE DE PAGINA */

.destaque {
  position: relative;
  width: 100%;
  height: 480px;
}

.destaque .destaque-fixo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.destaque .destaque-fixo span {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 23px;
  color: white;
  font-family: IM FELL French Canon SC;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

section{
  padding: 0 10em;
}

.teamcharry-logo-branca {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;

}

/* SLIDER*/

.carousel {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.2s;
}

.carousel .slider-container {
  display: flex;
  width: 100%;
}

.carousel .slide {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  height: 520px;
  width: 100%;
}


main .fraseEfeito{
  padding: 3em 0;
}

main .section1-anuncio{
  display: flex;
  flex-direction: column;
  align-items: center;

}

main .section1-anuncio div{
  display: flex;
  padding-bottom: 3em;
  justify-content: space-between;

}
main .section1-anuncio div span{
  width: 50%;
}

main .section1-anuncio .trailer span p{
  text-align: left;
}

main .section1-anuncio div figure img{
  width: 250px;
  height: 200px;
}

main .section1-anuncio div span h1,main .section1-anuncio div span h2{
  font-size: 48px;
  color: white;
  font-family: IM FELL French Canon SC;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}






















/*                  Criadores                */


.body-criadores{
  background-color: #DC293E;
}

.main-criadores{
  background-color: #DC293E;
  display: grid;
  grid-template-areas:
      ". team-c ."
      "cri cri cri"
      "ari wil dav";
}

.team-c{
  text-align: center;
  grid-area: team-c;
}

.team-c img{
  width: 18em;
  height: 14em;
  padding: 2em 0 4em 0;
}

.cria-sec{
  
  padding: 2em;
}

.cri{
  text-align: center;
  grid-area: cri;
}
.ari{grid-area: ari;
  text-align: center;
  padding: 1.5em;}

.ari img{
  height: 10em;
  width: 10em;
  padding-top:2em;
}

.wil{grid-area: wil;
  text-align: center;
  padding: 1.8em;}

.wil img{
  height: 10em;
  width: 10em;
  padding-top:2em;
}

.dav{grid-area: dav;
  padding: 1.5em;
  text-align: center;}

.dav img{
  height: 10em;
  width: 10em;
  padding-top:2em;
}

.wil h2{
  padding: 1em 0;
}

.ari h2{
  padding: 1em 0;
}

.dav h2{
  padding: 1em 0;
}